.navigation-menu {
  display: flex;
  margin-top: 2.5rem;
}

.navigation-menu-icon {
  height: 1rem;
  width: 1rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.navigation-menu-icon:hover {
  cursor: pointer;
  background-color: rgba(120, 137, 138, 0.164);
}
