.menu-icons-div {
  display: flex;
  margin-top: 3rem;
}

.menu-element:hover {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.041);
  cursor: pointer;
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
}
