.file-content-box {
    min-height: 30rem;
    max-height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.8rem;
    font-size: 0.7rem;
    overflow-y: scroll;
    font-weight: 700;
    letter-spacing: 0.05rem;
    white-space: pre-wrap;
}

.left-column {
    width: 2.5rem;
}

.numeric-column {
    font-size: 0.6rem;
    color: rgb(92, 92, 92);
    font-weight: 700;
}

.code-line {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    display: flex;
}

.expand-code-icon {
    height: 0.6rem;
    width: 0.6rem;
    padding-left: 0.1rem;
    cursor: pointer;
    margin-bottom: -0.07rem;
}

.remove-line {
    display: none;
}

.remove-span {
    display: none;
}

.red-keyword {
    color: rgb(255, 0, 0);
}

.green-keyword {
    color: rgb(6, 182, 0);
}

.comment-line {
    color:rgb(150, 150, 150);
}

.blue-keyword {
    color:rgb(0, 17, 255);
}

.purple-keyword {
    color:rgb(153, 2, 153);
}

.yellow-keyword {
    color:rgb(216, 194, 0);
}