@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.files-div {
  width: 60rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.page-div {
  margin: 1rem 0 0 7rem;
}

.header {
  width: 60rem;
  display: flex;
  justify-content: space-between;
}

.navigation-menu-header {
  display: flex;
  margin-left: -4rem;
}
