.add-new-file-modal {
  height: 16rem;
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.562);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -20rem;
  margin-top: -8rem;
}

.modal-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-element-field {
  display: flex;
  flex-flow: column;
  margin: 1.5rem 1rem 0rem 1rem;
}

.form-element-field label {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.form-element-field input {
  height: 2.3rem;
  width: 30rem;
  outline: none;
  border: none;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgba(209, 209, 209, 0.973);
}

.modal-form-buttons-container {
  display: flex;
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: 5rem;
}

.add-btn,
.cancel-btn {
  height: 2rem;
  width: 6rem;
  background-color: rgb(74, 77, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.add-btn:hover,
.cancel-btn:hover {
  background-color: rgb(2, 24, 44);
}

.cancel-btn {
  margin-left: 1rem;
}
