@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.error-message {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8rem;
}