.remove-file-modal {
  min-height: 7rem;
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.562);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -15rem;
  margin-top: -3.5rem;
}

.remove-modal-content {
  display: flex;
  flex-flow: column;
  margin: 1rem 2rem 1rem 2rem;
  font-size: 0.9rem;
}

.remove-modal-buttons-container {
  display: flex;
  align-self: flex-end;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.confirm-remove-btn,
.remove-cancel-btn {
  height: 2rem;
  width: 6rem;
  background-color: rgb(74, 77, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.confirm-remove-btn:hover,
.remove-cancel-btn:hover {
  background-color: rgb(2, 24, 44);
}

.remove-cancel-btn {
  margin-left: 1rem;
}

.file-name-span {
  font-weight: 700;
}
