.breadcrumbs-container {
    display: flex;
    margin: 3rem 0 -1rem 2rem;
}

.path-element {
    margin-left: 0.2rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
}
