.clickable-path-element {
    margin-left: 0.2rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
}

.link-element {
    color: blue;
}

.link-element:hover {
    text-decoration: underline 0.1rem;
    cursor: pointer;
}