.rename-file-modal {
  min-height: 7rem;
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.562);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -15rem;
  margin-top: -3.5rem;
}

.rename-modal-content {
  display: flex;
  flex-flow: column;
  margin: 1rem 2rem 1rem 2rem;
  font-size: 0.9rem;
}

.rename-modal-content input {
  height: 2.3rem;
  width: 26rem;
  outline: none;
  border: none;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgba(230, 230, 230, 0.973);
}

.rename-modal-buttons-container {
  display: flex;
  align-self: flex-end;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.confirm-rename-btn,
.rename-cancel-btn {
  height: 2rem;
  width: 6rem;
  background-color: rgb(74, 77, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.confirm-rename-btn:hover,
.rename-cancel-btn:hover {
  background-color: rgb(2, 24, 44);
}

.rename-cancel-btn {
  margin-left: 1rem;
}
