.file-row {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.089);
}

.file-row:hover {
  background-color: rgba(57, 61, 61, 0.096);
}

.folder-icon,
.file-icon {
  width: 1rem;
  height: 1rem;
}

.expand-icon {
  width: 0.7rem;
  height: 0.7rem;
  margin: 0 0.4rem 0.2rem 0;
}

.expand-icon:hover {
  cursor: pointer;
}

.folder-icon {
  margin: 0.2rem 0.6rem 0 0;
}

.file-icon {
  margin: 0.2rem 0.6rem 0 1.1rem;
}

.type-name-element {
  display: flex;
  width: 30rem;
}

.class-link {
  text-decoration: none;
  color: black;
  letter-spacing: 0.01rem;
  font-size: 0.85rem;
}

.class-link:hover {
  color: blue;
  text-decoration: underline 0.08rem;
  cursor: pointer;
}
.commit-message-element {
  width: 20rem;
}

.commit-text {
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}

.time-element {
  margin-left: auto;
  margin-right: 0;
  font-size: 0.7rem;
  letter-spacing: 0.01rem;
}

.context-menu {
  background-color: rgb(252, 252, 252);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 10rem;
}

.menu-item {
  cursor: pointer;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.menu-item:hover {
  background-color: rgba(224, 224, 224, 0.733);
}

.context-menu-icon {
  height: 0.9rem;
  width: 0.9rem;
}

/* background-color: rgb(49, 57, 58); */
/* background-color: rgb(102, 128, 129); */
